.blackBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modalBox {
  position: relative;
  top: 50%;
  margin: 0 auto;
  min-width: 200px;
  width: fit-content;
  min-height: 200px;
  transform: translateY(-50%);
  height: fit-content;
  background-color: aliceblue;
  color: black;
}
