.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.leftside > div {
  min-width: 160px;
  min-height: 160px;
  height: 25vh;
  overflow: auto;
  border: 1px solid var(--border-color);
}

.leftside > div > input {
  display: none;
}
.leftside > div > input + label {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  display: inline-block;
  padding: 4px 8px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.leftside > div > input + label:hover {
  background-color: rgb(80, 145, 122);
}
.leftside > div > input:checked + label {
  background-color: rgb(0, 126, 82);
}
.leftside > div > input[id='onepiece']:checked ~ div[id='crayon_shin_char'] {
  display: none;
}

.leftside > div > input[id='crayon_shin']:checked ~ div[id='onepiece_char'] {
  display: none;
}

.rightside {
  flex: 1;
  border: 1px solid var(--border-color);
  overflow: auto;
}
